## EDA with Covid dataset

In [1]:
import pandas as pd

splits = {'train': 'data/train-00000-of-00001-8c3d4e48fe0f561b.parquet', 'test': 'data/test-00000-of-00001-ce92752fd4455cd1.parquet', 'dev': 'data/dev-00000-of-00001-99b3373cde156b17.parquet'}
df = pd.read_parquet("hf://datasets/tasksource/logical-fallacy/" + splits["train"])

In [14]:
df

,config,source_article,logical_fallacies
0,edu,"company's slogan ""Expect More. Pay Less.""",appeal to emotion
1,edu,"The bigger a child's shoe size, the better the...",false causality
2,edu,"Since many people believe this, then it must b...",ad populum
3,edu,Senator Randall isn't lying when she says she ...,circular reasoning
4,edu,A mother is telling her daughter that she went...,fallacy of relevance
...,...,...,...
2675,climate,As countries get more peaceful in Africa we co...,false dilemma
2676,climate,“ It breaks my heart to think we ’ d lose half...,appeal to emotion
2677,climate,Losing tropical forests is not somehow cheaper...,fallacy of extension
2678,climate,Lawrence said a steep drop in emissions to zer...,false dilemma
2679,climate,"But looking to the future , mass coral bleachi...",faulty generalization

In [13]:
print(df.shape)

(2680, 3)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2680 entries, 0 to 2679
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   config             2680 non-null   object
 1   source_article     2680 non-null   object
 2   logical_fallacies  2680 non-null   object
dtypes: object(3)
memory usage: 62.9+ KB

In [4]:
df.describe()

,config,source_article,logical_fallacies
count,2680,2680,2680
unique,2,2517,13
top,edu,Here ’ s an unusual one from Guillet et al sug...,faulty generalization
freq,1849,6,401

In [7]:
df.dtypes

config               object
source_article       object
logical_fallacies    object
dtype: object

In [ ]:
df['logical_fallacies'].unique()

array(['appeal to emotion', 'false causality', 'ad populum',
       'circular reasoning', 'fallacy of relevance',
       'faulty generalization', 'ad hominem', 'fallacy of extension',
       'equivocation', 'fallacy of logic', 'fallacy of credibility',
       'intentional', 'false dilemma'], dtype=object)

In [9]:
df['logical_fallacies'].value_counts()

logical_fallacies
faulty generalization     401
intentional               321
ad hominem                289
appeal to emotion         217
false causality           212
ad populum                209
fallacy of credibility    200
fallacy of logic          176
fallacy of relevance      175
false dilemma             143
circular reasoning        140
fallacy of extension      139
equivocation               58
Name: count, dtype: int64

In [15]:
df['config'].value_counts()

config
edu        1849
climate     831
Name: count, dtype: int64

In [16]:
df.isnull().sum()

config               0
source_article       0
logical_fallacies    0
dtype: int64

## Covid 19 Dataset

In [21]:
train_data = pd.read_csv('df_train.csv')
test_data = pd.read_csv('df_test.csv')
val_data = pd.read_csv('df_val.csv')
train_data

,new_id,component_id,main_tweet,previous_context,posterior_context,Ad Hominem,Appeal to Fear,Appeal to Ridicule,False Dilemma,Hasty Generalization,...,POS_NUM,POS_PART,POS_PRON,POS_PROPN,POS_PUNCT,POS_SCONJ,POS_SYM,POS_VERB,POS_X,POS_SPACE
0,144793,249,[user104337]: @user @user ... @user Kyrie Irv...,[user47446]: @user @user @user yeh bringing b...,[user79987]: @user @user ... @user Totally d...,0,0,0,0,0,...,0,4,8,4,9,1,0,8,3,2
1,124801,249,[user79987]: @user @user ... @user Totally di...,[user47446]: @user @user @user yeh bringing b...,[user104337]: @user @user ... @user That's s...,0,0,0,0,0,...,0,0,6,3,12,2,3,8,3,2
2,83279,249,[user104337]: @user @user ... @user That's so...,[user104337]: @user @user ... @user Kyrie Irv...,[user79987]: @user @user ... @user The unint...,0,0,0,0,0,...,0,2,7,4,6,0,0,5,2,2
3,124800,249,[user79987]: @user @user ... @user The uninte...,[user79987]: @user @user ... @user Totally di...,[user1779]: @user @user ... @user facts. if ...,1,0,0,0,0,...,0,5,7,1,7,2,0,11,3,2
4,165415,249,[user47446]: @user @user ... @user It's been ...,[user79987]: @user @user ... @user The uninte...,[user1779]: @user @user ... @user this shit'...,0,0,0,0,0,...,2,3,9,3,7,1,0,6,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1806,209516,94692,"[user40839]: Etter than the ""gene therapy"" so...",NaN,NaN,0,0,1,0,0,...,0,0,0,2,5,0,0,1,2,2
1807,236865,106391,[user115321]: I want to know how Italy and Ch...,NaN,NaN,0,0,0,0,0,...,0,2,3,6,4,2,0,7,2,2
1808,152989,108897,[user16135]: @user just stop! Go grab a drink...,NaN,NaN,1,0,1,0,1,...,0,0,4,3,4,1,0,8,4,2
1809,334394,118011,[user39585]: This is in reference to the @use...,NaN,NaN,0,1,0,0,1,...,1,1,6,6,7,0,0,4,3,2
1810,277640,120904,[user68580]: NIH: Insufficient evidence on iv...,NaN,NaN,0,0,0,0,0,...,1,0,0,4,4,0,1,1,2,2

In [22]:
val_data

,new_id,component_id,main_tweet,previous_context,posterior_context,Ad Hominem,Appeal to Fear,Appeal to Ridicule,False Dilemma,Hasty Generalization,...,POS_NUM,POS_PART,POS_PRON,POS_PROPN,POS_PUNCT,POS_SCONJ,POS_SYM,POS_VERB,POS_X,POS_SPACE
0,214154,591,"[user134673]: First, this study is perhaps on...",[user134673]: The Imperial report on the new ...,[user134673]: The study examines something c...,0,0,0,0,0,...,1,0,0,3,3,0,0,1,3,2
1,318806,591,[user134673]: The Imperial report on the new ...,"[user134673]: First, this study is perhaps on...",[user134673]: The study examines something c...,0,0,0,0,0,...,0,2,4,4,7,3,0,5,2,2
2,327132,591,[user134673]: The study examines something ca...,"[user134673]: First, this study is perhaps on...",[user134673]: We see a very rapid rise in fr...,0,0,0,0,0,...,0,0,2,2,9,0,0,5,2,2
3,360450,591,[user134673]: While 'spike dropout' (S-) does...,"[user134673]: First, this study is perhaps on...",[user134673]: What does this mean? While the...,0,0,0,0,0,...,1,1,1,7,8,3,0,5,2,2
4,354289,591,[user134673]: We see a very rapid rise in fre...,[user134673]: The study examines something ca...,[user134673]: Studying the Rt associated wit...,0,0,0,0,0,...,3,0,1,12,5,0,0,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,254290,591,[user75735]: Ivermectin is a cure for covid. ...,[user134673]: The Imperial report on the new ...,[user71266]: For us to achieve the virus inh...,1,1,0,1,0,...,0,1,1,2,5,0,0,3,3,1
546,231077,6824,[user86207]: I am not getting the vaccine.I h...,NaN,[user69697]: @user Not one study shows we ar...,0,0,0,0,1,...,0,2,14,1,7,1,0,11,2,2
547,45341,9831,[user60221]: @user CIA killed him... or the g...,[user107459]: Tanzania's President John Maguf...,NaN,0,1,0,1,0,...,1,1,2,3,5,0,0,2,2,2
548,207985,25354,[user97679]: EPA approves 2 Lysol products to...,NaN,[user9824]: @user Not a big Lysol fan after ...,0,0,0,0,0,...,1,1,0,3,1,0,0,2,2,2
549,269651,120326,[user23717]: Moderna To Seek Limited Emergenc...,NaN,NaN,0,0,0,0,0,...,0,1,0,8,1,1,0,2,2,2